<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Database.Properties.Settings.ScriptsUp" connectionString="../../../Scripts/UP" />
    <add name="Database.Properties.Settings.ScriptsDown" connectionString="../../../Scripts/DOWN"
      providerName="" />
    <add name="Database.Properties.Settings.ConexionDB" connectionString="Data Source=NOTEBOOKDELL;Initial Catalog=StockManagerDB;Trusted_Connection=true;" />
  </connectionStrings>
</configuration>